* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  header {
    nav {
      background-color: white;
      box-shadow: 0px 8px 6px -6px black;
      position: sticky;
      width: 100%;
      top: 0;
      z-index: 5;
      position: fixed;

      ul {
        display: flex;
        li {
          list-style-type: none;
          margin: 1rem;
          a {
            color: black;
            text-decoration: none;
            transition: all 0.1s ease;
            &:hover {
              color: rgba(152, 57, 255, 0.5);
              border-bottom: 3px solid rgba(152, 57, 255, 0.5);
            }
          }
        }
      }
    }
  }

  main {
    section.main-area {
      min-height: 70vh;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      div.info {
        // border: 2px solid black;
        flex-basis: 450px;

        h1 {
          font-size: 3.5rem;
        }
        h2 {
          font-size: 1rem;
        }

        a {
          color: white;
          background-color: rgb(54, 212, 138);
          padding: 0.25rem 0.5rem;
          font-size: 1.5rem;
          border-radius: 20px;
          display: inline-block;
          margin-top: 2rem;
          text-decoration: none;
          transition: all 0.2s ease;
          &:hover {
            transform: scale(1.2);
          }
        }
      }

      img {
        flex-basis: 200px;
        // border: 2px solid red;
        width: 10vw;
      }
    }

    section.about-me {
      background-color: rgb(231, 255, 233);
      padding: 5rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      div.desc {
        // border: 2px solid black;
        width: 50%;
        text-align: center;
        h2 {
          font-size: 2rem;
        }
      }

      div.progress-area {
        padding-left: 1%;
        padding-right: 1%;
        // border: 2px solid red;
        width: 70%;
        p {
          margin: 0.5rem 0rem;
        }
        .progress-bar-area {
          width: auto;
          margin-top: 2rem;
          .progress-item {
            margin-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            img {
              width: 50px;
              margin-right: 0.5rem;
            }
            .progress-item-content {
              width: 80%;
              display: block;
              p {
                margin: 0.5rem 0.3rem;
                display: block;
              }
              .progress {
                margin: auto;
                height: 20px;
                width: 100%;
              }
            }
          }
        }
      }
    }

    section.resume {
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;

      .msg {
        text-align: right;
        width: 50%;
        h1 {
          line-height: 100px;
        }
      }

      section.picture {
        flex: 1 1 500px;
        position: relative;

        img {
          width: 30vw;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  body {
    main {
      section.main-area {
        div.info {
          padding: 1rem;
        }
        img {
          width: 90%;
        }
      }
      section.about-me {
        padding: 1rem 0.5rem;
        div.desc {
          width: 80%;
        }
        div.progress-area {
          width: 80%;
        }
      }

      section.resume {
        overflow-x: auto;
        section.table {
          min-width: 800px;
        }
        section.picture {
          img {
            width: 90%;
          }
        }
      }
    }
  }
}

footer {
  background-color: rgb(54, 212, 138);
  min-height: 10vh;

  p {
    font-size: 2rem;
    text-align: center;
    line-height: 100px;
  }
}

@media screen and (max-width: 600px) {
  body {
    header {
      nav {
        position: static;
        ul {
          flex-direction: column;
        }
      }
    }
  }
}
